@import 'assets/master';

.cartItemsContainer {
  position: absolute;
  top: 4.8em;
  width: 30%;
  max-height: 33em;
  right: 8em;
  margin: auto;
  display: flex;
  flex-direction: column;

  border-radius: 10px !important;
  background-color: $foreground-color;
  .listHeader {
    border-bottom: 0.5px inset #555555;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    .topCounter {
      color: #7367f0;
      background-color: #4d4d6e;
      height: 1.5em;
      border-radius: 0.5em;
      font-weight: 700;
      justify-content: center;
      text-align: center;
    }
  }
  .cartItemWrapper {
    overflow-y: scroll;
    max-height: 20.8em;
  }
  .totalWrapper {
    height: 5em;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    .totalAmount {
      font-weight: 700;
      color: #7367f0;
    }
  }
  .checkout {
    background-color: #7367f0;
    font-weight: 700;
    color: #fff;
    border-radius: 0.2em;
    border:none;
    height: 3em;
    width: 95%;
    margin:0px auto;
    text-align: center;
    cursor: pointer;
  }
  .disabledButton{
    cursor: not-allowed;
  }
}
@media only screen and (max-width: 768px) {
  .cartItemsContainer {
    width: 50%;
    left: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .cartItemsContainer {
    width: 80%;
    left: 1.2em;
  }
}

::-webkit-scrollbar {
  display: none;
}
